annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.3
faiss-cpu==1.13.2
falcon==4.2.0
h11==0.16.0
httptools==0.7.1
idna==3.13
numpy==2.4.4
orjson==3.11.9
packaging==26.2
pydantic==2.13.3
pydantic_core==2.46.3
python-dotenv==1.2.2
PyYAML==6.0.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
